html
  head
    title= title
  body
    h1= message
    img(src="/images/sample.webp", alt="")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    script(src="/js/jquery-3.4.1.min.js")
    script(src="/js/bootstrap.min.js")